<!-- <div class="loader" *ngIf = "loading_list">
    <div class="loding-logo">
        <mat-spinner></mat-spinner>
    </div>
</div> -->
<div class="main-container">
    <div class="fixed">
        <div class="middle-container">
            <div class="tabs-list gift-tab-list pl6">
                <h1>Master</h1>
                <div class="input-field">
                    <input type="text" placeholder="Search..." [(ngModel)]="filter.search"  (keyup.enter)="current_page = 1;getCategoryList()">
                    <i class="material-icons">search</i>
                </div>
            </div>
            <div class="left-auto">
                <a mat-icon-button  (click)="getCategoryList()">
                    <mat-icon aria-label="Example icon-button with a heart icon">sync</mat-icon>
                  </a>
            </div>
        </div>
    </div>
    
    <div class="container-outer tab-container">
        <app-master-tab></app-master-tab>
        <div class="image-list">
            <ul>
                <li *ngFor="let val of categories; let i = index"  style="cursor: pointer;">
                    
                    <div class="image-section1" (click)="goToSubCat(val.id)">
                        <span class="material-icons" style="opacity: 0.3; font-size: xxx-large" *ngIf="val.actual_image_name.length==0">insert_photo</span>
                        <img  [src]="uploadUrl + val.actual_image_name" *ngIf="val.actual_image_name.length > 0" style="cursor: inherit;">
                        <!-- (click)="openDialog(img_url + val.actual_image_name, 'test2' )" -->
                    </div>
                    
                    <div class="hvr-edit">
                        <a class="delete-icn" *ngIf="val.sub_category_count==0" (click)="deleteProduct(val.main_category)"><i class="material-icons">delete_sweep</i></a>
                        <a class="edit-icn" (click)="toggle = !toggle; editCategory(val.main_category ); val.mainCategory = val.main_category"><i class="material-icons">edit</i></a>
                    </div>
                    <div class="bottom-section" (click)="goToSubCat(val.id)">
                        <h1>{{val.main_category}}</h1>
                        <p><span>Total Product</span>: {{val.sub_category_count}}</p>
                        <!-- <a *ngIf="val.description" (click)="openDial(val.description,'description')">View Description</a> -->
                    </div>
                </li>   
            </ul>
        </div> 
    </div>
</div>


<div class="side-main" [ngClass] ="{'on' : toggle == true}">
    <div class="category-field" >
        <!-- f.form.valid &&  -->
        <form name="category" (ngSubmit)="savecategory(f)" #f="ngForm" novalidate autocomplete="off">
            <div class="loader" *ngIf = "loading_list">
                <div class="loding-logo">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
            <div class="category-hadding">
                <h2>{{category.id ? 'Edit' : 'Add'}} Category</h2>
                <i class="material-icons" (click)="toggle = !toggle">clear</i>
            </div>
            
            <div class="add-image">
                <div class="option-field">
                    <div class="control-field">
                        <mat-form-field class="cs-input">
                            <input matInput placeholder="Category Name" name="main_category" [(ngModel)] = "category.main_category" #main_category="ngModel" required>
                        </mat-form-field>  
                    </div>
                </div>
                
                <div class="uploade-image">
                    <h4>Upload Image</h4>
                    <ul>
                        <li class="add-bg-1">
                            <label>
                                <input type="file" (change)="onUploadChange1($event)" style="display:none;" accept=".png, .jpg, .jpeg"  />
                                <img  [src]="img ? category.image : uploadUrl + category.actual_image_name" alt="" id="img">
                                <div class="other" style="position: absolute;"  *ngIf="category.actual_image_name == '' || category.image == ''">
                                    <i class="material-icons">add</i>
                                </div>
                            </label>
                            <!-- <span class="cancel-icon" (click)="deletecatproduct()">
                                <i class="material-icons crose-icon "  >clear</i>
                            </span>	 -->
                            
                        </li>
                    </ul>
                </div>
                
                <div class="save btn-save mt90" [ngClass]="{loading: savingData}">
                    <button mat-button type="submit">SAVE</button>
                </div>
            </div>
        </form>
    </div>
    
    
    
    <div class="side-bg" (click)="toggle = !toggle"></div>
</div>

<div class="fab-btns">
    <button (click)="toggle = !toggle; addCategory()" mat-fab>
        <mat-icon>add</mat-icon>
    </button>
</div>

<!-- <div class="side-main" [ngClass] ="{'on' : toggle1 == true}">
    <div class="category-field" >
        <form name="category" (ngSubmit)="f.form.valid && saveSubcategory(f)" #f="ngForm" novalidate autocomplete="off">
            <div class="category-hadding">
                <h2>Add Sub Category</h2>
                <i class="material-icons" (click)="toggle1 = !toggle1;clearData()">clear</i>
            </div>
            
            <div class="add-image">
                <div class="option-field">
                    <div class="control-field">
                        <mat-form-field class="cs-input">
                            <input matInput placeholder="Main Category Name" name="main_category" [(ngModel)] = "category.main_category" #main_category="ngModel" required>
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="option-field">
                    <div class="control-field">
                        <mat-form-field class="cs-input">
                            <input matInput placeholder="Category Name" name="category_name" [(ngModel)] = "category.category_name" #category_name="ngModel" required>
                        </mat-form-field>  
                    </div>
                </div>
                
                <div class="uploade-image">
                    <h4>Upload Image</h4>
                    <ul>
                      
                        <li *ngIf="category.image" >
                            <img [src]="category.image" >
                            <span class="cancel-icon">
                                </span>									
                            </li>
                            <li class="add-bg-1">
                                <label>
                                    <input type="file" (change)="onUploadChange($event)" style="display:none;" accept=".png, .jpg, .jpeg, .pdf" required multiple />
                                    <div class="other">
                                        <i class="material-icons">backup</i>
                                    </div>
                                </label>
                            </li>`
                        </ul>
                    </div>
                    
                    <div class="save btn-save mt90" [ngClass]="{loading: savingData}">
                        <button mat-button  >SAVE</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="side-bg" (click)="toggle1 = !toggle1"></div>
    </div> -->